* {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0;
    padding: 0;    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.container.pizza {
    color: white;
}

/* Changing the image to be to the left and in line with the text, instead of vertical */
.recipe-card {
    width: 1200px;
    margin: 5px auto;
    height: 700px;
    border-style: solid;
    border-color: grey;
    background-color: floralwhite;
    /* background-color: ghostwhite; */

}

.recipe-card.pizza {
    background-color: indianred;
}

.recipe-content {
    display: inline-block;
    padding: 10px 20px 20px 20px;
    width: 850px;
    margin-left: 10px;
    vertical-align: top;
    height: 600px;
}


.recipe-content h1 {
    font-size: 35px;
    margin-top: 0px;
}

.recipe-content h2 {
    font-size: 25px;
}

.recipe-content p {
    font-size: 18px;
    margin-bottom: 20px;
}


/* Overview list items */
.recipe-overview ul {
    list-style-type: none;
    display: inline-block;
    width: 700px;
    background-color: lightskyblue;
    /* background-color: lightgray; */
    margin-bottom: 20px;
    text-align: center;
}

.recipe-overview.pizza ul {
    background-color: lightcoral;    
}


.recipe-overview li {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    padding: 10px 10px 0px 10px;
}

/* span item in paragragph */
.recipe-content .ingredients {
    background-color: lightgreen;
    font-style: italic;
    padding: 1px 3px;
    margin: 0 -3px;
}

.recipe-content.pizza .ingredients {
    background-color: yellow;
    color: black;
}

.recipe-steps {
    display: inline-block;
    margin-bottom: 50px;
}

.recipe-steps li {
    list-style-type: none;
    font-size: 17px;
}


.recipe-steps li::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-image: url("../images/list_item_sushi.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 5px;
    vertical-align: middle;
}


.recipe-links a {
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 10px;
}

/* Flexbox for Pizza page */
.header.pizza {
    border: 3px solid #ffcc5c;
    margin: 20px 5em auto 5em;
    height: auto;
    display: flex;
    background-color: gainsboro;
    font-size: 1.5em;
    color: black;
}

/* Selecting all of the child objects of the container to apply general styling */
.header.pizza > div {
    border: 1px solid dimgrey;
    border-top: none;
    border-bottom: none;
    flex: 1;
    text-align: center;
}

.header.pizza > .home {
    border-left: none;
}

.header.pizza > .recipes {
    border-left: none;
}

.header.pizza > .blog {
    border-left: none;
}

.header.pizza > .favorites {
    border-left: none;
}


/* Commenting this out allows ONLY the "search" in our flex container to flex, while the other elements
are all staying at a fixed width. */
/* .header.pizza > div {
    flex: 1;
} */

/* When there's only 1 element doing flexing, the actual value to 'flex: ' doesn't matter at all, they will all
equate to 1 so you can have any value there. They matter when you have more than 1 element doing flexing */
.header.pizza > .search {
    /* flex: 1; */
    border-right: none;
    border-left: none;
}