* {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0;
    padding: 0;    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 300px;
    display: inline-block;
}

/* Changing the image to be to the left and in line with the text, instead of vertical */
.recipe-card {
    width: 1000px;
    margin: 20px auto;
    background-color: lightblue;

}

.recipe-content {
    display: inline-block;
    padding: 20px;
    width: 700px;
    background-color: lightcoral;
}


.recipe-links a {
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.recipe-content .ingredients {
    background-color: lightgreen;
    font-style: italic;
    padding: 1px 3px;
    margin: 0 -3px;
}